<div class="container">
	<h3 class="background-opacity-container border-container"> 			
		<img class="source-image" ng-show="source.image" class="img-rounded" ng-show="source.image" ng-src="{{ source.image.image.thumb.url | assetsUrl }}"/>
		{{ source.name }}
		<span ng-show="source.name" voiting voteable="source" voteable-type="'Source'"></span> 
	</h3>

	<div ng-show="source.description[locale]" class="description background-opacity-container border-container" ng-bind-html="source.description[locale]"></div>

	<h3> {{ 'playlist_report.list' | translate }} </h3>

	<table st-table="rowCollection" st-safe-src st-pipe="getCollection" class="border table background-opacity-container border-container">
	  <thead>
	  	<tr>
	  		<th>#</th>
	  		<th>{{ 'playlist_report.fields.date' | translate }}</th>
			</tr>
	  </thead>
	  <tbody ng-hide="isLoading">
	  	<tr ng-hide="rowCollection.length > 0">
	  		<td colspan="2" class="text-center empty-results">
					<div>{{ 'playlist_report.empty' | translate }}</div>
				</td>
	  	</tr>
			<tr ng-repeat="row in rowCollection">
				<td> {{ startIndex + $index }} </td>
				<td>
					<a ng-show="$index == 0" ui-sref="sources.details.latest_ranks({sourceId: slugId(source)})" >{{ row.date | amDateFormat:'DD/MM/YYYY' }}</a>

					<a ng-show="$index != 0" ui-sref="sources.details.ranks({sourceId: slugId(source), playlistReportId: slugId(row)})" >{{ row.date | amDateFormat:'DD/MM/YYYY' }}</a>
				</td>
			</tr>
	  </tbody>
	  <tbody ng-show="isLoading">
			<tr>
				<td colspan="2"><spinner ng-show="isLoading"></spinner></td>
			</tr>
	  </tbody>	  
		<tfoot>
			<tr>
				<td colspan="2" class="text-center">
					<div st-pagination="" st-items-by-page="perPage"></div>
				</td>
			</tr>
		</tfoot>
	</table> 
</div>