a{
	color: $active-link-color;
}

.breadcrumb > .active {
  color: white;
}

.navbar-default {
	background-color: $brand-bg-color;
	padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;

  .navbar-brand{
  	width: 80px;
  	height: 80px;
  	margin: 10px;
  	background: url('../images/logo.png') no-repeat center;
  	background-size: contain;
  }

	.languages-container{
		vertical-align: middle;
		line-height: 88px;
		cursor: pointer;
		margin: 0 10px;
		.badge{
			cursor: pointer;
		}
	}

  .navbar-nav{
		.active, .open {
		  a, a:hover, a:focus{
				color: $active-link-color;
				background-color: transparent;
			}
		}

		.dropdown-menu{
			background-color: $active-link-color;
			border: 0;
			a{
				background-color: $active-link-color;
				color: #FFFFFF;
				height: 36px;
			  line-height: 36px;
				&:hover, &:focus{
					color: #FFFFFF;
					background-color: #D44C32;
				}
			}
		}

  	li{
  		a{
  			cursor: pointer;
			  color: #FFFFFF;
			  font-size: 14px;
			  text-transform: uppercase;
			  font-weight: 500;
			  height: 90px;
			  line-height: 90px;
			  padding: 0 10px;  

			 	&:hover, &:focus{
					color: $active-link-color;
					background-color: transparent;
				}		
  		}
			@media(max-width: 768px){
				a{
			  	height: 36px;
			  	line-height: 36px;
			  }			
			}

  	}
  }
}

#footer{
	li{
		a{
			cursor: pointer;
		  color: #FFFFFF;
		  font-size: 14px;
		  text-transform: uppercase;
		  text-decoration: none;
		  font-weight: 500;	
		}

		&:hover {
			a{
				color: $active-link-color;
			}
		}
	}
}

.scroll-to-top{
 display: block;
 position: fixed;
 bottom: 50px;
 left: 0;
 padding: 5px 10px;
 color: #FFFFFF;
 @media(min-width: 768px){
	padding: 10px 15px;
	margin: 10px;
 }
 opacity: 0.9;
 background: $active-link-color;
 cursor: pointer;
}

.well{
	background: $brand-bg-color;
	border:none;
}