@keyframes music {
	0% {
		height: 0;
  }
  
	50% {
		height: 40px;
  }
  
	100% {
		height: 10px;
  }
}

@mixin equalize($number) {
	animation: music #{$number}s linear infinite;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.equalizer {
  height: 40px;
  overflow:hidden;
}

.equalizer-item {
	display: inline-block;
	background: linear-gradient($brand-primary, transparent);
	width: 5px;
	height: 40px;
	margin: 3px;
}

.equalizer-none {
	opacity: 0;
	margin: 0;
  width: 0;
}

.equalizer-1 {
	@include equalize(.5);
}
 
.equalizer-2 {
	@include equalize(.9);
}

.equalizer-3 {
	@include equalize(.7);
}