.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;     
}

.image-bg-fluid-height {
    h1{
        font-size: 28px;
    }
    .home-title{
        font-weight: 500;   
        text-transform: uppercase;
    }

    .home-extra-title{
        color: $active-link-color;
    }

    a.btn{
        font-size: 22px;
        text-transform: uppercase;
    }

    @media(max-width: 767px){
        a.btn{
            font-size: 18px;
        }
    }
}

.slogan{
    color: #FFFFFF;
    font-weight: 400;   
    text-align:center; 
    font-size: 28px;
}

.features{
    display:inline-block;

    margin: 40px 0;

    .list{
        margin: 15px 0;
        display: inline-block;
        text-align: center;
        > div {
            display:inline-block;
        }
        .icon-container{
            text-align: center;
            color: $active-link-color;
            line-height: 40px;
            vertical-align: middle;
            font-size: 30px;
            margin: 0 auto;
        }
        .description{
            color: white;
            margin: 10px auto;
            max-width: 325px;
            font-size: 16px;
        }
        &.main{
            > div {
                display:inline-block;
            }        
            .icon-container{
                font-size: 70px;
            }
            .description{
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }
}

.image-bg-fluid-height{
    .info{
        padding: 100px 0;
        .slogan{
            font-size: 36px;
        }
    }
}

.primary-bg {
	background: url('../images/music_bg.jpg') no-repeat center center scroll;
    height: 450px;
}

.secondary-bg{
    background: url('../images/music_bg.jpg') no-repeat center center scroll;
    height: 450px;    
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}


footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

.jumbotron{
    background-color: transparent;
    h1{
        font-size: 28px;   
        text-transform: uppercase;
    }
}

.primary-charts-container{
    background-color:rgba(255,255,255,0.9);
    padding: 10px 0;
}

.carousel-container{
    overflow:hidden;
    h1{
        color: black;
        text-transform: uppercase;
    }
    ul.top-sources{
        display:block;
        min-height: 465px;

        li{
            &.current{
                position:relative;
            }
            .panel-heading{
                background-color: $active-link-color;
                .panel-title{
                    text-align:left;
                    color: white;
                    border: none;
                }
            }
            div.ranks{
                .date{
                    font-weight: 200; 
                    text-align: center;
                }

                .learn-more{
                    margin-left: 10px;
                }

                .rank{
                    .song-details{
                        font-size: 18px;
                        font-weight: 200; 
                        text-align: left;
                    }

                    .image-container{
                        margin: 10px;
                        padding: 0;
                        height: 40px;
                        width: 40px;
                        text-align: center;
                        &.no-image{
                            background-image: url('../images/song.png');
                            background-size: cover;
                        }

                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }


                }
            }
        }
    }   
}