$brand-bg-color: rgba(0,0,0,0.53);
$brand-primary: #ec5538 !default;
$active-link-color: #ec5538;
$brand-success: #ec5538 !default;
$btn-success-bg: #ec5538 !default;
$text-color: white !default;
$font-family-base: 'Raleway';
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

@import "table";
@import "itunes_preview_player";
@import "home";
@import "equalizer";
@import "voiting";
@import "animation";
@import "custom";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

body{
	background: url('../images/bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opacity-container{
	opacity: 0.9;
  filter: alpha(opacity=90);
}

.border-container{
	padding: 10px;
	border-radius: 4px;
}

.songs{
  padding:0;
}

.background-opacity-container{
	background-color: $brand-bg-color;
}

.container{
	margin-bottom: 10px;
}

.success{
	color: #51a351;
}

.multiSelectButton{
	width:100%;
}

.multiSelect{
	.helperButton{
		padding: 5px 10px 5px;
		height:30px;
	}
}

.container .jumbotron {
  padding-left: 45px;
  padding-right: 45x;
  margin-bottom:0;
  color: white;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
	margin: 0 auto;
	background-color: transparent;

	.navbar-header, .navbar-collapse{
		margin:0;
	}

	@media(max-width: 767px){
		.languages-container{
			line-height: 0;
			margin: 0;
		}
	}

	.vk-user{
		color: #fff;
		margin: 0 10px;
		.info{
			display: inline-block;
		}
		img{
			width: 40px;
			margin:5px;
		}
		.logout{
			cursor: pointer;
			color: #fff;
		}
	}
	.fa-vk{
		margin-left:5px;
		font-size: 18px;
	}
}

.breadcrumbs-container{
	margin-top: 21px;
	margin-bottom: 5px;
	.breadcrumb{
		margin-bottom: 0;
	}
}

.alert{
	position: absolute;
	width: 100%;
}

.table{
	.search-input{
		font-weight:normal;
	}
	.form-group{
		margin-bottom: 10px;
	}
	.fa-vk{
		margin-left:5px;
		font-size: 18px;
	}

	a{
		cursor: pointer;
	}
}

@media(min-width: 768px) and (max-width: 840px){
	.nav li a{
		padding-left: 7px;
		padding-right: 10px;	
	}
}

.filter-chart{
	margin-bottom: 10px;
}

#search-block{
	padding:10px 10px 5px;
	margin-bottom: 10px;

	.form-group {
		margin-bottom: 5px;
	}

	.sources-label-container{
		margin: 5px 0;
		.badge{
			background-color:#555555;
		}
		label.sources{
			min-width: 80px;
			text-align: left;
			display: inline;
		}
	}
	&.song-search{
		.form-group{
			margin-left: 0;
		}

		.before-label, .after-label{
			float: left;
			padding-left: 15px;
		}

		@media(max-width: 400px){
			.after-label{
				margin-left:5px;
			}
		}

	}
}

.table-container{
	.empty{
		text-align: center;
	}
}

.multiSelect .checkBoxContainer{
	max-height: 300px;
	overflow-y: auto;	
}

.multiSelectItem{
	width:100%;
}

table{
	tbody{
		tr.info{
			.song{
				background-color: rgba(212,76,50,0.53);
			}
		}
	}

	.song{
		.position{
			display: inline-block;
			font-size: 20px;
			text-align: center;
			vertical-align: middle;
			line-height: 60px;
		}

		.artist{
			color: $active-link-color;
		}

		.image{
			height: 60px;
			width: 60px;
			padding:0;
			text-align: center;
			&.no-image{
				background-image: url('../images/song.png');
				background-size: cover;
			}		

			img{
				margin: auto;
				max-width: 100%;
				max-height: 100%;
			}			
		}

		.actions{
			.itunes{
				background-color: black;
				color: white;
				padding: 5px 10px;
				border-radius: 4px;
				text-align: center;
				.action{
					display: inline-block;
					margin: 3px;
				}
				.progress{
					height: 4px;
					margin-bottom:0;
					margin-top: 2px;
					&.spent{
						margin-top:-4px;
					}
				}
				.spinner{
					position: absolute;
					top: 10px;
					margin-left: -10px;
					width: 100%;
				}
			}

		}
	}
}

.progress{
	height: 8px;
	margin-bottom: 0;
	.progress-bar-loaded{
		background-color: #cccccc;
	}
	&.spent{
		margin-top:-8px;
	}
}

.spinner {
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $active-link-color;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media(max-width: 767px){
	#footer{
		position: relative;
	}	
}

#footer{
 	padding-top:10px;
 	color: white;
 	background-color: $brand-bg-color;
 	.container{
 		margin-bottom: 0;	
 		.copyright{
 			margin-right: 10px;
 		}
 		ul{
			display: inline-block;
			list-style-type: none;
			&.footer-social-container{
				li{
					a{
						font-size: 22px;
					}
					display:inline-block;
					margin-left: 10px;
				}
			}	 
		}	
 	}
}

.source-image{
	display:inline-block;
	max-height: 40px;
	max-width: 100px;
}

#overlay {
	 position: fixed;
   width: 100%;
   height: 100%;
   background: white;
   top:0;
   left:0;
   z-index:1001;
   .spinner{
   		line-height: 50;
   }
}

.media-player-container{
	width: 100%;
	bottom: 0;
	left:0;
	margin:0;
	padding: 0;
	position: fixed;
	z-index: 11111;
}

#media-player{
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 12px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 10px;

	.close-container{
		color: black;
		margin: -10px 5px;
		position: absolute;
		right: 0;
		font-size: 14px;
		float: right;
		cursor:pointer;
		z-index: 101;
	}

	.badge{
		background-color: $active-link-color;
		font-weight: 700;
	}

	.spinner{
		position: absolute;
		right: 0;
		margin-right: 15px;
		z-index: 100;
	}

	.menu{
		margin: 0 auto;
		.song-details{
			margin-top: 12px;
			.info{
				margin-top: 4px;
				color: white;
				text-align:left;
			}
			.success{
				margin-top: 5px;
				display: inline-block;
			}
		}

		.vk-add{
			margin-top:-2px;
		}

		.player-actions{
			width: 290px;	
			padding: 0;
		}
		.song-details{
			padding: 0;
		}
	}

	&.minified{
		padding-bottom: 5px;
		
		.buttons-container{
			z-index: 1001;
			position: inherit;
		}

		.minified-play{
			float:left;
			margin-top: -7px;
			margin-right: 5px;
		}

		.menu{
			.song-details{
				padding-left: 75px;
				padding-right: 35px;
				margin-top: -25px;
			}
		}
	}

	.progress-status{
		margin-top: 15px;
		cursor: pointer;
	}

	.time{
		color: black;
		.current{
			float:left;
		}
		.duration{
			float:right;
		}
	}

}

.filter-songs{
	margin-bottom: 10px;
}

.ordering{
	background-color: $brand-bg-color;
	padding: 5px 10px;
	.order-fields-container{
		.order-field{
			a{
				cursor: pointer;
				text-decoration: none;
				margin:0 5px;
			}
		}
	}
}

.history-link{
	cursor: pointer;
	color: $active-link-color;
}

.popover-title{
	color: $active-link-color;	
}
