<div class="player-control col-xs-12" id="media-player" ng-show="showPlayer()" ng-class="{minified: minified}">
	<div class="row">
		<div class="close-container">
			<span><i class="fa fa-expand" ng-click="minifyPlayer()"></i></span>
			<span><i class="fa fa-times-circle" ng-click="closePlayer()"></i></span>
		</div>
		<div class="menu col-xs-12">
			<spinner ng-show="vkProcessing"></spinner>
			<div ng-hide="minified" class="player-actions col-xs-12">
			  <div class="btn btn-default btn-sm" ng-click="prevPlay();">
			    <i class="fa fa-step-backward"></i>
			  </div>
			  <div class="btn btn-default" ng-click="play()">
			    <i class="fa" ng-class="{ 'fa-pause': mediaPlayer.playing, 'fa-play': !mediaPlayer.playing }"></i>
			  </div>
			  <div class="btn btn-default btn-sm" ng-click="nextPlay();">
			    <i class="fa fa-step-forward"></i>
			  </div>
			  <div class="btn btn-default btn-sm" ng-click="volumeDown()">
			    <span><i class="fa fa-volume-down"></i></span>
			  </div>
			  <div class="btn btn-default btn-sm" ng-click="volumeUp()">
			    <span><i class="fa fa-volume-up"></i></span>
			  </div>
				<div class="volume-container btn btn-noclick">
				  <span><span class="badge">{{ volume * 100 | number:0 }}%</span></span>
				</div>	
			</div>  
			<div ng-show="minified" class="buttons-container">
				<div class="btn btn-default btn-xs minified-play" ng-click="prevPlay();">
			    <i class="fa fa-step-backward"></i>
			  </div>
				<div class="btn btn-default btn-xs minified-play" ng-click="play()">
			    <i class="fa" ng-class="{ 'fa-pause': mediaPlayer.playing, 'fa-play': !mediaPlayer.playing }"></i>
			  </div>
			  <div class="btn btn-default btn-xs minified-play" ng-click="nextPlay();">
			    <i class="fa fa-step-forward"></i>
			  </div>
			</div>
			<div class="song-details col-xs-12" ng-show="currentSong.vk">
				<div class="info col-xs-12 badge">
					<marquee>
						{{ currentSongIndex+1 }}.
						<span class="artist">{{ currentSong.vk.artist }}</span> - <span class="title">{{ currentSong.vk.title }}</span>
					</marquee>
				</div>
			</div>
		</div>
		<div ng-hide="minified" class="progress-status col-xs-12">
		  <div class="progress" 
		  	ng-click="mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))">
		    <div class="progress-bar progress-bar-loaded" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: mediaPlayer.loadPercent + '%' }"></div>
		  </div>	

		  <div class="progress spent" 
		  	ng-click="mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))">
		    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: mediaPlayer.currentTime*100/mediaPlayer.duration + '%' }"></div>
		  </div>	  
		  <div class="time" ng-show="mediaPlayer.formatTime">
		    <div class='current'>{{ mediaPlayer.formatTime }}</div>
		    <div class='duration'>{{ mediaPlayer.formatDuration }}</div>
		  </div>		
		</div>
	</div>
</div>