<div title="{{ 'hint.play_pause_song_preview' | translate }}" class='itunes btn col-xs-12' ng-click="playPause()" ng-class="{'disabled': itunesProcessing}">
	<audio media-player="itunes" playlist="itunesPlaylist"></audio>
	<i class="fa" ng-class="{ 'fa-pause': itunes.playing, 'fa-play': !itunes.playing }"></i>
	<span>iTunes Preview</span>
	<div class="progress">
	  <div class="progress-bar progress-bar-loaded" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: itunes.loadPercent + '%' }"></div>
	</div>		
	<div class="progress spent">
	  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: itunes.currentTime*100/itunes.duration + '%' }"></div>
	</div>
	<div class="spinner" ng-show="itunesProcessing">
	  <div class="bounce1"></div>
	  <div class="bounce2"></div>
	  <div class="bounce3"></div>
	</div>	
</div>