<div class="ordering"> 
	<label> {{ 'order_by' | translate }}: </label>
	<span class="order-fields-container">
		<span ng-repeat='o in orderFields' class="order-field">
			<a ng-click="changeOrder(o.name, o.direction)"> 
				{{ o.title | translate }}
				<i class="fa" ng-show="orderField == o.name" ng-class="{'fa-caret-up': orderDirection == 'asc' , 'fa-caret-down': orderDirection == 'desc'}"></i>
			</a> {{ $last ? '' : '|' }}
		</span>
	</span>
</div>