<div class="table-container background-opacity-container border-container songs"> 
	<table st-table="rowCollection" st-pagination-scroll st-safe-src st-pipe="getCollection" class="border table">
	  <tbody>
			<tr id="song-{{ row.id }}" ng-animate="'animate'" bindonce="row" ng-repeat="row in rowCollection" ng-class="{'info': checkPlaying(row) }">
				<td class='song'>
					<div class='position col-xs-2 col-sm-2 col-md-1' bo-html="getPosition(startIndex + $index, row)"></div> 
					<div class='img-rounded image col-xs-4 col-sm-4 col-md-4' ng-class="{'no-image': !row.primary_image}">
						<img class="img-rounded" bo-show="row.primary_image" bo-src-i="{{ row.primary_image.file.thumb.url | assetsUrl }}"/>
					</div> 
					<div class='details col-xs-6 col-sm-4 col-md-4'> 
						<h4 class='name' bo-html="row.name"></h2>
						<h5 class='artist' bo-html="row.artist"></h3>
					</div>	
					<div class='actions col-xs-12 col-sm-3 col-md-3'>
						<itunes-audio></itunes-audio>
						<div class="vk">
							<button class="btn btn-primary btn-sm" ng-click="vkPlayPause(row, startIndex + $index - 1, this)"
								title="{{ 'hint.play_pause_song' | translate }}"
							>
								<i class="fa" ng-class="checkPlayerToPlaying(row) ? 'fa-pause' : 'fa-play'"></i><i class="fa fa-vk"></i>
							</button>
							<button ng-hide="row.addedStatus" class="btn btn-primary btn-sm" ng-click="vkAddSong(row, startIndex + $index - 1)" title="{{ 'hint.add_song_to_vk' | translate }}">
								<i class="fa fa-plus"></i><i class="fa fa-vk"></i>
							</button>	
							<span class="success" ng-show="row.addedStatus"> {{ 'song.added_status.' + row.addedStatus | translate }} </span>
						</div>		
					</div>
				</td>
			</tr>
	  </tbody>  
	</table> 
	<div ng-if="!isLoading && rowCollection.length > 0 && !stopPagination" class="load-more-container">
		<button class="btn btn-primary btn-sm" ng-click="nextPage()">{{ 'buttons.load_more' | translate }}</button>
	</div>
	<div ng-if="!isLoading && rowCollection.length == 0" class="empty">{{ 'song.empty' | translate }}</div>
	<spinner ng-if="isLoading"></spinner>
</div>