<span class="voiting faa-parent animated-hover faa-horizontal">
  <a ng-click="like()" ng-class="{liked: liked, unliked: !liked}" title="{{ 'hint.thumbs_up' | translate }}">
    <i class="fa fa-thumbs-o-up">{{ voteable.votes_count > 0 ? voteable.votes_count : '' }}</i>
  </a>
</span>