<div class="navbar navbar-default container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="home"></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{ active: isActive('song_rotations') }">
        <a ui-sref="song_rotations" >{{ 'route_states.song_rotations'| translate }}</a>
      </li>

      <li ng-class="{ active: isActive('sources') }">
        <a ui-sref="sources" >{{ 'route_states.sources'| translate }}</a>
      </li>

      <li class="dropdown" ng-class="{ active: isActive('songs_all') || isActive('songs_new') }">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ 'route_states.songs'| translate }}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ui-sref='songs_all'>{{ 'route_states.songs_all'| translate }}</a></li>
          <li><a ui-sref='songs_new'>{{ 'route_states.songs_new'| translate }}</a></li>
        </ul>
      </li>

      <li ng-class="{ active: isActive('about') }">
        <a ui-sref="about" >{{ 'route_states.about'| translate }}</a>
      </li> 
    </ul>

    <span class="languages-container">
      <a ng-attr-title="{{ 'languages.'+lang | translate }}" ng-repeat="lang in languages" ng-show="locale != lang" ng-click="changeLanguage(lang)">
        <span class="flag-icon" ng-class="{'flag-icon-ru': lang == 'ru', 'flag-icon-gb': lang == 'en' }"></span>
      </a>
    </span>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <div ng-hide="vkUser" id="login_button">
          <a class="btn btn-block btn-social btn-vk" ng-click="login(getLoginStatus);">
            <i class="fa fa-vk"></i> {{ 'buttons.login' | translate }}
          </a>
        </div>
        <div ng-show="vkUser" class="vk-user">
          <img title="{{ vkUser.first_name }} {{ vkUser.last_name }}" ng-src="{{ vkUser.photo }}" class="img-circle"> 
          <a ng-click="logout();" class="logout">{{ 'buttons.logout' | translate }}</a>
        </div>
      </li>
    </ul>
  </div>
</div>