<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>TopPlaylists</title>
    <meta name="description" content="Music website, built for people who really like great music">
    <meta name="keywords" content="музыка,музыка бесплатно,популярная музыка,песни,чарты,треки,слушать музыку,контакте,музыка онлайн,music,tracks,popular,vk,charts,audio,free">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="eDfoaJfsnf_dmDekh8vyhdbPr8larjtbPKp3SEd4ZEU" />
    <meta name='yandex-verification' content='490b5d90cbfc8674' />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/lib/sweet-alert.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.css" />
    <link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.min.css" />
    <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.min.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/select2/select2-bootstrap.css" />
    <link rel="stylesheet" href="bower_components/isteven-angular-multiselect/angular-multi-select.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
  </head>
  <body ng-app="topPlaylistClientApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header background-opacity-container clearfix {{ locale }}" ng-controller="NavmenuCtrl">
      <nav-menu></nav-menu> 
    </div>  

    <div class="container breadcrumbs-container">
      <div class="col-sm-5 media-player-container pull-right" ng-include="'views/partials/_audio_player.html'"></div>        
      <div class="background-opacity-container" ng-hide='isActive("home")' ncy-breadcrumb></div>
    </div>   

    <audio media-player="mediaPlayer" playlist="audioPlaylist"></audio>

    <!-- Add your site or application content here -->
    <div ui-view>
        <div id='overlay'>
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>  
        </div>
    </div>

    <scroll-to-top></scroll-to-top>

    <div class="opacity-container" id="footer" ng-class="{ 'navbar navbar-fixed-bottom': isActive('about')}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="copyright pull-left">Copyright © 2015</span>
                    <ul class="footer-links-container pull-left">
                        <li>
                            <a ui-sref="copyright_holders">
                                {{ 'route_states.copyright_holders' | translate }}
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-social-container pull-right">
                        <li class="faa-parent animated-hover faa-bounce">
                            <a href="{{ contactInfo.vk }}" target="_blank">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>                        
                        <li class="faa-parent animated-hover faa-bounce">
                            <a href="mailto:{{ contactInfo.email }}">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter29562735 = new Ya.Metrika({id:29562735,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/29562735" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/checklist-model/checklist-model.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/sweetalert/lib/sweet-alert.js"></script>
    <script src="bower_components/angular-media-player/dist/angular-media-player.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-underscore/angular-underscore.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/isteven-angular-multiselect/angular-multi-select.js"></script>
    <script src="bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
    <script src="bower_components/angular-bindonce/bindonce.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/route.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/lib/itunes_preview_player.js"></script>

    <script src="scripts/services/table_query.js"></script>
    <script src="scripts/services/table_builder.js"></script>
    <script src="scripts/services/endless_table_builder.js"></script>
    <script src="scripts/services/resource_wrapper.js"></script>
    <script src="scripts/services/application_store.js"></script>
    <script src="scripts/services/song_query.js"></script>
    <script src="scripts/services/vk_player.js"></script>

    <script src="scripts/factories/http_interceptor.js"></script>
    <script src="scripts/factories/vk_service.js"></script>
    <script src="scripts/factories/itunes_service.js"></script>
    
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/sources.js"></script>
    <script src="scripts/controllers/source/details.js"></script>
    <script src="scripts/controllers/source/ranks.js"></script>
    <script src="scripts/controllers/source/latest_ranks.js"></script>
    <script src="scripts/controllers/songs/index.js"></script>
    <script src="scripts/controllers/songs/newest_songs.js"></script>
    <script src="scripts/controllers/song_rotations.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/navmenu.js"></script>
    
    <script src="scripts/directives/navmenu.js"></script>
    <script src="scripts/directives/itunes_audio.js"></script>
    <script src="scripts/directives/st_pagination_scroll.js"></script>
    <script src="scripts/directives/spinner.js"></script>
    <script src="scripts/directives/popover.js"></script>
    <script src="scripts/directives/voiting.js"></script>
    <script src="scripts/directives/ng_draggable.js"></script>
    <script src="scripts/directives/ordering.js"></script>
    <script src="scripts/directives/scroll_to_top.js"></script>

    <script src="scripts/filters/assets_url.js"></script>
    <script src="scripts/filters/trusted_src.js"></script>

    <script src="scripts/resources/source.js"></script>
    <script src="scripts/resources/primary_source.js"></script>
    <script src="scripts/resources/playlist_report.js"></script>
    <script src="scripts/resources/song_rotation.js"></script>
    <script src="scripts/resources/song.js"></script>
    <script src="scripts/resources/user_info.js"></script>
    <!-- endbuild -->
</body>
</html>
