<div class="container">
	<h3> {{ title }} </h3>

	<div id="search-block" class="song-search panel-body well bs-component">
		<form role="form" class="form-horizontal" name="form"
	        ng-submit="search()">
		  <div class="form-group col-xs-12 col-sm-12 col-md-5">
        <input id="q-search" ng-model="q" placeholder="{{ 'placeholders.song.name_or_artist' | translate }}" class="form-control" type="text">
		  </div>  
	    <div class="button-group col-xs-12 col-sm-8 col-md-4">
        <button class="btn btn-primary" value="search" name="search" type="submit">{{ 'buttons.search' | translate  }}</button>
        <button class="btn btn-default" value="reset" name="reset" type="reset" ng-click="reset()">{{ 'buttons.reset' | translate  }}</button>
	    </div>
		</form>
	</div>

	<div ordering></div>

	<div ng-include="'views/partials/_songs.html'"></div>
</div>