<div class="container">
	<h3> {{ title }} </h3>

	<button ng-click="extendedFilter = !extendedFilter" class="btn btn-primary filter-songs" name="search" type="submit">{{ 'buttons.filter_songs' | translate  }}</button>

	<div ng-show="extendedFilter" id="search-block" class="song-search panel-body well bs-component">
		<form role="form" class="form-horizontal" name="form"
	        ng-submit="search()">
	     
	    <div class="col-xs-12 col-sm-12 col-md-6">
		    <div class="col-xs-12 col-sm-2">    
	        <label class="song-name control-label text-left" for="v_search">{{ 'song.fields.name' | translate }}</label>
	    	</div>
			  <div class="form-group col-xs-10">
	        <input id="q-search" ng-model="q" placeholder="{{ 'placeholders.song.name_or_artist' | translate }}" class="form-control" type="text">
			  </div>  	    	
	    </div>   

	    <div class="col-xs-12 col-sm-12 col-md-6">
		  	<label class="song-name control-label before-label">{{ 'song.created_at_filter.before' | translate }}</label>
			  <div class="form-group col-xs-4 col-sm-5">
	        <input id="q-duration" ng-model="duration" class="form-control duration" type="text">
			  </div>  
        <label class="song-name control-label after-label">{{ 'song.created_at_filter.after' | translate }}</label>

	    </div>	

	    <div class="button-group col-xs-12 col-sm-12 col-md-12">
        <button class="btn btn-primary" value="search" name="search" type="submit">{{ 'buttons.search' | translate  }}</button>
        <button class="btn btn-default" value="reset" name="reset" type="reset" ng-click="reset()">{{ 'buttons.reset' | translate  }}</button>
	    </div>
		</form>
	</div>

	<div ordering></div>

	<div ng-include="'views/partials/_songs.html'"></div>
</div>