<p> If you really like popular music and want to trend toward top charts this site is the best!</p>
<p>The system includes over <strong>10,000</strong> top hits from the most popular charts from UK, USA, Germany, Russia, Spain and etc.</p>

<p>Overall chart is main feature of the system. This chart contains the most popular songs from top world-wide charts. User can choose their favorite charts and genres for building the overall chart. Please click to <a ui-sref="song_rotations">link</a> to see overall chart and find popular music.</p>

<p>Moreover user can view charts details and see ranks of top hits' ranks for period. All charts are updated every week and the site contains the latest charts releases. Please click to <a ui-sref="sources">link</a> to see all sources.</p>

<p>Don't forget about the newest songs! The system gives access to <a ui-sref="songs_new">the newest top hits</a> and <a ui-sref="songs_all">all songs</a></p>

<p>By the way user can listen song preview from iTunes. If user has account on VK(vk.com) they have access to music player which can be used for listenning songs or adding songs into VK.</p>

<p>We hope you enjoy the system and you will be a frequent guest on our site. Also do not forget to tell your friends about this site :)</p>

<p>If you have any questions or suggestions, you can contact us via <a href="mailto:{{ contactInfo.email }}">the following email</a></p>