<p>All references to music and other content are presented solely for information purposes only on site 'top-playlists.com'. All files locate on foreign servers to which site 'top-playlists.com' is irrelevant. The site uses <a href="https://vk.com/dev/openapi">API vk.com</a> to get music tracks. This API provides links to music files with public access. User are obliged to remove the downloaded files and buy a legal copy after finish of listening music.</p>

<p>However if you are the copyrights holder of any material posted on this site and would not want to spread this information by users without your consent we will be able to assist you by removing the appropriate materials.</p>

<p>You should send email which contains the following information:</p>

<p><b>1.</b>Verification of your copyrights:</p>
<p>- scanned copy of document with the seal or</p>
<p>- email of official copyright holder or</p>
<p>- any other information which help to identificate copyrights holder</p>

<p><b>2.</b> Text which you want to add instead of unauthorized data.</p>
<p>Text can contain information where and how get access to your data.</p>

<p><b>3.</b> Direct links on site's pages which contain unauthorized data</p>

<p>After that we will remove unauthorized data from the site during the next 48 hours.</p>
<p>You can contact us via <a href="mailto:{{ contactInfo.email }}">the following email</a>.</p>