<h1 class="slogan">{{ 'application' | translate }}</h1>
<p> If you really like popular music and want to trend toward top charts this site is the best!</p>
<p>The system includes over <strong>10,000</strong> top hits from the most popular charts from UK, USA, Germany, Russia, Spain etc.</p>
<p>Overall chart is main feature of the system. This chart contains the most popular songs from top world-wide charts. User can choose their favorite charts and genres for building the <a ui-sref="song_rotations">overall chart</a>.</p>
<p>By the way user can listen song preview from iTunes. If user has account on VK(vk.com) they have access to music player which can be used for listenning songs or adding songs into VK.</p>
<p><a class="btn btn-success btn-lg" ui-sref="about">{{ 'buttons.learn_more' | translate }}</a></p>