<p>Если Вы любите самую популярную музыку и хотите быть в тренде всех музыкальных топ-чартов, то этот ресурс - это именно то, что Вам надо! </p>
<p> На данный момент на сайте собрана коллекция из более чем <strong>10,000</strong> популярных треков от самых известных мировых чартов таких как <em>Billboard</em>,  <em>MTV</em>, <em>Last FM</em>, <em>Europa +</em> и других.</p>

<p>Особенностью данной системы является наличие общего составного чарта. При этом во главе данного чарта стоят наиболее популярные песни, которые лидируют в отдельных чартах. Разумеется, у каждого из нас свои музыкальные предпочтения. Именно по этой причине каждый пользователь может сам выбирать жанры и чарты, которые будут использоваться для формирования общего чарта.</p>
<p> Уже не терпится посмотреть, что в тренде?! <a ui-sref="song_rotations">Итоговый чарт</a> </p>

<p>Кроме того система позволяет просматривать состояние плейлистов за период для каждого чарта. Для этого необходимо перейти на <a ui-sref="sources">страницу чартов</a> и выбрать дату интересующего плейлиста. После чего можно будет просмотреть рейтинг треков для выбранной даты. Обновление плейлистов происходит еженедельно и мы даем 100% гарантию на то, что на сайте находятся последние обновления для каждого чарта.</p>

<p>Не забудьте про новинки! Система предоставляет возможность просмотра <a ui-sref="songs_new">новых треков</a>, а также предоставляется возможность поиска треков из общей <a ui-sref="songs_all">базы топ-хитов</a>.

<p>Также система позволяет прослушать превью для выбранного трека из iTunes. А если пользователь имеет аккаунт в VK, то доступен музыкальный плеер с возможностью прослушивания треков и добавлением понравившихся к своему аккаунту в VK.</p>

<p>Уверены, система Вам понравится и Вы будете частым гостем на нашем сайте. Кроме того не забывайте рассказать о данном ресурсе друзьям :)</p>

<p>Если у Вас появились какие-либо вопросы или предложения, Вы можете связаться с нами по следующему <a href="mailto:{{ contactInfo.email }}">почтовому ящику</a>.</p>