<p>Все ссылки на музыку и прочий контент, размещенные на сайте top-playlists.com, представлены исключительно для ознакомления и расположены не на нашем сервере. Все файлы хранятся на сторонних серверах, к которым сайт top-playlists.com не имеет никакого отношения. Для получения музыкальных треков используется <a href="https://vk.com/dev/openapi">API vk.com</a>, который предоставляет ссылки к музыкальным файлам, доступным публично. После прослушивания Пользователь обязан удалить скачанные файлы и приобрести легальную копию.</p>

<p>Тем не менее, если Вы являетесь правообладателем какого-либо материала, размещенного на этом сайте, и не хотели бы, чтобы данная информация распространялась Пользователями без Вашего на то согласия, то мы будем рады оказать Вам содействие, удалив соответствующие материалы.</p>

<p>Для этого необходимо, чтобы Вы прислали нам письмо (в электронном виде) в котором указали следующую информацию:</p>

<p><b>1.</b> Документальное подтверждение Ваших прав на материал, защищённый авторским правом:</p>
<p>- отсканированный документ с печатью, либо</p>
<p>- email с официального почтового домена компании правообладателя, либо</p>
<p>- иная контактная информация, позволяющая однозначно идентифицировать Вас, как правообладателя данного материала.</p>

<p><b>2.</b> Текст, который Вы желаете разместить в сопровождении удаляемой информации.</p>
<p>В нем Вы можете указать где и на каких условиях можно получить информацию, ссылки на которую были удалены, а так же Ваши контактные данные для того, чтобы Пользователи могли получить от Вас всю интересующую их информацию относительно данного материала.</p>

<p><b>3.</b> Прямые ссылки на страницы сайта, содержащие данные, которые необходимо удалить.</p>

<p>После этого, в течении 48 часов, мы удалим интересующие Вас данные с сайта.</p>
<p>Вы можете связаться с нами по следующему <a href="mailto:{{ contactInfo.email }}">почтовому ящику</a>.</p>