<h1 class="slogan">{{ 'application' | translate }}</h1>
<p>Если Вы любите самую популярную музыку и хотите быть в тренде всех популярных музыкальных чартов, то этот ресурс - это именно то, что Вам надо! </p>
<p> На данный момент на сайте собрана коллекция из более чем <strong>10,000</strong> популярных треков от самых известных мировых чартов таких как <em>Billboard</em>,  <em>MTV</em>, <em>Last FM</em>, <em>Europa +</em> и других. Кроме просмотра новинок отдельных чартов на сайте есть возможность формирование <a ui-sref="song_rotations"><strong>общего чарта</strong></a> на основе понравившихся чартов.</p>
<p>Наш сервис позволяет прослушать превью для выбранного трека из iTunes. А если пользователь имеет аккаунт в VK, то доступен музыкальный плеер с возможностью прослушивания треков и добавлением понравившихся к своему аккаунту в VK.</p>
<p><a class="btn btn-success btn-lg" ui-sref="about">{{ 'buttons.learn_more' | translate }}</a></p>