<div class="container">
	<h3>{{ 'route_states.about' | translate }}</h3>

	<div class="background-opacity-container border-container" ng-include="multiLanguagePartialUrl('about.html')"></div>	
</div>		