<div class="container">
	<h3>{{ 'route_states.copyright_holders' | translate }}</h3>
	<div class="background-opacity-container border-container"  ng-include="multiLanguagePartialUrl('copyright_holders.html')"></div>	
</div>	