
<div class='container'>
  <header class="image-bg-fluid-height">
    <div>   
      <h1 class="home-title">{{ 'home.title' | translate }}</h1>
      <h1 class='home-extra-title'>{{ 'home.extra_title' | translate }}</h1>
      <div class='features col-xs-12'>
        <div class="list main col-xs-12">
          <div class="col-xs-12 col-sm-6 col-md-4 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-bolt"></i>
            </div>
            <h4 class='description'>{{ 'home.main_features.find_new' | translate }}</h4>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-star-o"></i>
            </div>
            <h4 class='description'>{{ 'home.main_features.track_trends' | translate }}</h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-music"></i>
            </div>
            <h4 class='description'>{{ 'home.main_features.listen_music' | translate }}</h4>
          </div>        
        </div>
      </div>
      <div>
        <a ui-sref="song_rotations" class="btn btn-success btn-lg">{{ 'home.buttons.find_popular' | translate }}</a>
      </div>  
      <div class='features col-xs-12'>
        <div class="list">
          <div class="col-xs-12 col-sm-6 col-md-2 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-thumbs-o-up"></i>
            </div>
            <h4 class='description'>{{ 'home.features.popular' | translate }}</h4>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-vk"></i>
            </div>
            <h4 class='description'>{{ 'home.features.vk' | translate }}</h4>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-list"></i>
            </div>
            <h4 class='description'>{{ 'home.features.overall_chart' | translate }}</h4>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-clock-o"></i>
            </div>
            <h4 class='description'>{{ 'home.features.save_time' | translate }}</h4>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-refresh"></i>
            </div>
            <h4 class='description'>{{ 'home.features.fresh_charts' | translate }}</h4>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 faa-parent animated-hover faa-horizontal">
            <div class="icon-container img-circle">
              <i class="fa fa-search"></i>
            </div>
            <h4 class='description' ui-sref="song_rotations">{{ 'home.features.newest_songs' | translate }}</h4>
          </div>
      </div>
    </div>
  </header>
</div>

<div class="primary-charts-container">
  <div class="carousel-container container">
    <h1 class="slogan">{{ 'popular_sources' | translate }}</h1>
    <ul rn-carousel   
      rn-carousel-auto-slide="10"
      rn-carousel-pause-on-hover="true"
      rn-carousel-buffered
      rn-carousel-transition="fadeAndSlide"
      rn-carousel-controls
      class="top-sources col-xs-12 col-sm-12 col-md-12">
      <li class="panel panel-default" ng-repeat="source in primarySources" ng-class="{current: $index == carouselIndex }">
        <div class="panel-heading">
          <h3 class="panel-title slogan">   
            <img class="source-image" ng-show="source.image" class="img-rounded" ng-show="source.image" ng-src="{{ source.image.image.thumb.url | assetsUrl }}"/> 
            {{ source.name }}
          </h3>
        </div>
        <div class="ranks panel-body">
          <div class="row date">{{ 'source_top_playlist' | translate }} 
            <strong>{{ source.latest_playlist_report.date | amDateFormat:'DD/MM/YYYY' }}</strong>
          </div>
          <table>
            <tbody>
              <tr class="rank" ng-repeat="rank in source.ranks">
                <td>
                  <div class="img-rounded layer image-container" ng-class="{'no-image': !rank.song.primary_image}">
                    <img  class="img-rounded" ng-show="rank.song.primary_image" 
                    ng-src="{{ rank.song.primary_image.file.thumb.url | assetsUrl }}"/>
                  </div>
                </td>
                <td>
                  <div class="song-details">
                    {{ rank.song.artist }} - {{ rank.song.name }}
                  </div>  
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row learn-more">
            <a class="btn btn-success btn-lg" ui-sref="sources.details.latest_ranks({sourceId: slugId(source)})">{{ 'buttons.show_all' | translate }}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>  


<div class="container application-info">
	<div translate-cloak class="jumbotron" 
    ng-include="multiLanguagePartialUrl('jumbotron.html')">
	</div>	
</div>

<div class="container application-info">
  <div id="vk_group_posts"></div> 
</div>  