<div class="container">
	<h3> {{ 'route_states.song_rotations' | translate }} </h3>

	<button ng-click="extendedFilter = !extendedFilter" class="btn btn-primary filter-chart" name="search" type="submit">{{ 'buttons.filter_chart' | translate  }}</button>

	<div ng-show="extendedFilter" id="search-block" class="slide-bottom panel-body well bs-component background-opacity-container border-container">
		<form role="form" class="form-horizontal" name="form"
	        ng-submit="submitForm()">
	    <div class="col-xs-12 col-sm-12 col-md-12 sources-label-container">    
	      <label class="sources control-label text-left" for="v_search">{{ 'song_rotations_sources' | translate }}</label>
	      <span popover class="btn btn-default btn-xs" data-placement="bottom" data-original-title="{{ 'hint.overall_chart_build' | translate }}">
	      	<i class="fa fa-question"></i>
	      </span> 
    	</div>
		  <div class="form-group col-xs-12 col-sm-12 col-md-4">
				<div   
						class="col-xs-12 col-sm-12 col-md-12"  
				    multi-select
				    input-model="genres"
				    output-model="selectedGenres"
				    button-label="title"
				    item-label="title"
				    tick-property="selected"
						orientation="horizontal"
				    selection-mode="multiple"
				    max-labels="2"   
				    helper-elements="all none filter"
				    default-label="{{ 'placeholders.genre.title' | translate }}"
				>
				</div>
		  </div>      	
		  <div class="form-group col-xs-12 col-sm-12 col-md-4">
				<div   
						class="col-xs-12 col-sm-12 col-md-12"  
				    multi-select
				    input-model="selectedSources"
				    output-model="sources"
				    button-label="name"
				    item-label="name"
				    tick-property="selected"
						orientation="horizontal"
				    selection-mode="multiple"
				    max-labels="2"   
				    helper-elements="all none filter"
				    default-label="{{ 'placeholders.source.name' | translate }}"
				>
				</div>


		  </div>  
	    <div class="button-group col-xs-12 col-sm-8 col-md-4">
	        <button class="btn btn-primary" value="search" name="search" type="submit">{{ 'buttons.build_chart' | translate  }}</button>
	    </div>
		</form>
	</div>
	<div ordering></div>
	<div ng-include="'views/partials/_songs.html'"></div>
</div>
