<div class="container">
	<h3> {{ 'route_states.sources' | translate }} </h3>

	<div class="table-responsive background-opacity-container border-container">
		<table st-table="rowCollection" st-safe-src st-pipe="getCollection" class="border table table-condensed">
		  <thead>
		  	<tr>
		  		<th>#</th>
		  		<th></th>
		  		<th st-sort="name">{{ 'source.fields.name' | translate }}</th>
		  		<th st-sort="genre">{{ 'source.fields.genre' | translate }}</th>
		  		<th>{{ 'source.fields.country_name' | translate }}</th>
		  		<th></th>
				</tr>
				<tr>
					<th colspan="6">
						<input st-search="'q'" class="search-input form-control" placeholder="{{ 'placeholders.source.name' | translate }}" type="text"/>
					</th>
				</tr>
		  </thead>
		  <tbody ng-hide="isLoading">
		  	<tr ng-hide="rowCollection.length > 0">
		  		<td class="text-center empty-results" colspan="2">
						<div>{{ 'source.empty' | translate }}</div>
					</td>
		  	</tr>
				<tr bindonce ng-repeat="row in rowCollection">
					<td> {{ startIndex + $index }} </td>
					<td class="text-center"><img class="source-image" ng-show="row.image" class="img-rounded" ng-show="row.image" ng-src="{{ row.image.image.thumb.url | assetsUrl }}"/></td>
					<td>
						<a ui-sref="sources.details.latest_ranks({sourceId: slugId(row)})">{{ row.name }}</a>
					</td>
					<td> {{ "genres."+row.genre | translate }} </td>
					<td class="icons-container"> 
						<span title="{{ 'countries.' + row.country | translate }}"><span class="flag-icon flag-icon-{{ row.country | lowercase }}" ></span></span>
					</td>
					<td class="icons-container"><span voiting voteable="row" voteable-type="'Source'"></span></td>
				</tr>
		  </tbody>
		  <tbody ng-show="isLoading">
				<tr>
					<td colspan="6"><spinner ng-show="isLoading"></spinner></td>
				</tr>
		  </tbody>	  
			<tfoot>
				<tr>
					<td colspan="6" class="text-center">
						<div st-pagination="" st-items-by-page="perPage"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div> 
</div>